<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Cardano</string>
		<key>Icon</key>
		<string>ada</string>
		<key>Rank</key>
		<integer>7</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Algorand</string>
		<key>Icon</key>
		<string>algo</string>
		<key>Rank</key>
		<integer>24</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cosmos</string>
		<key>Icon</key>
		<string>atom</string>
		<key>Rank</key>
		<integer>18</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Avalanche</string>
		<key>Icon</key>
		<string>avax</string>
		<key>Rank</key>
		<integer>11</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bitcoin Cash</string>
		<key>Icon</key>
		<string>bch</string>
		<key>Rank</key>
		<integer>21</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Binance</string>
		<key>Icon</key>
		<string>bnb</string>
		<key>Rank</key>
		<integer>4</integer>
		<key>Tradable</key>
		<false/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bitcoin</string>
		<key>Icon</key>
		<string>btc</string>
		<key>Rank</key>
		<integer>1</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<true/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Crypto.com</string>
		<key>Icon</key>
		<string>cro</string>
		<key>Rank</key>
		<integer>14</integer>
		<key>Tradable</key>
		<false/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dai</string>
		<key>Icon</key>
		<string>dai</string>
		<key>Rank</key>
		<integer>16</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dogecoin</string>
		<key>Icon</key>
		<string>doge</string>
		<key>Rank</key>
		<integer>12</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Polkadot</string>
		<key>Icon</key>
		<string>dot</string>
		<key>Rank</key>
		<integer>10</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ethereum</string>
		<key>Icon</key>
		<string>eth</string>
		<key>Rank</key>
		<integer>2</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<true/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>FTX</string>
		<key>Icon</key>
		<string>ftt</string>
		<key>Rank</key>
		<integer>22</integer>
		<key>Tradable</key>
		<false/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Chainlink</string>
		<key>Icon</key>
		<string>link</string>
		<key>Rank</key>
		<integer>20</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Litecoin</string>
		<key>Icon</key>
		<string>ltc</string>
		<key>Rank</key>
		<integer>17</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Decentraland</string>
		<key>Icon</key>
		<string>mana</string>
		<key>Rank</key>
		<integer>26</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Terra Luna</string>
		<key>Icon</key>
		<string>luna</string>
		<key>Rank</key>
		<integer>8</integer>
		<key>Tradable</key>
		<false/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Polygon</string>
		<key>Icon</key>
		<string>matic</string>
		<key>Rank</key>
		<integer>15</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Near</string>
		<key>Icon</key>
		<string>near</string>
		<key>Rank</key>
		<integer>19</integer>
		<key>Tradable</key>
		<false/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Shiba Inu</string>
		<key>Icon</key>
		<string>shib</string>
		<key>Rank</key>
		<integer>13</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Solana</string>
		<key>Icon</key>
		<string>sol</string>
		<key>Rank</key>
		<integer>9</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<true/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tron</string>
		<key>Icon</key>
		<string>tron</string>
		<key>Rank</key>
		<integer>23</integer>
		<key>Tradable</key>
		<false/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Uniswap</string>
		<key>Icon</key>
		<string>uni</string>
		<key>Rank</key>
		<integer>25</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>USD Coin</string>
		<key>Icon</key>
		<string>usdc</string>
		<key>Rank</key>
		<integer>5</integer>
		<key>Tradable</key>
		<true/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tether</string>
		<key>Icon</key>
		<string>usdt</string>
		<key>Rank</key>
		<integer>3</integer>
		<key>Tradable</key>
		<false/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>XRP</string>
		<key>Icon</key>
		<string>xrp</string>
		<key>Rank</key>
		<integer>6</integer>
		<key>Tradable</key>
		<false/>
		<key>Watchlist</key>
		<false/>
		<key>New</key>
		<false/>
	</dict>
</array>
</plist>
